
body {
  background:#c2c2c2;
}

a, a:hover {
  color: #222222;
  text-decoration: none;
}


/* reset grid padding */
.content .row .vid-col {
  padding:4px;
}

.content {
  width:90%;
  margin:0 auto;
  padding-top:20px;
}

/* sidebar */
.list-group-item {
  background:none;
}
.list-group-item.active {
  background:none;
  font-weight: bold;
  border-color:#444444;
}
.list-group-item a {
  display:block;
}

/* video */
.vid {
  margin-bottom: 20px;
  line-height: 16px;
}

.vid .title a {
  display: block;
  font-size:14px;
  font-weight:bold;
  color: #222222;
  padding:4px 0;
}

.vid .meta, .vid .meta a {
  font-size:12px;
  color: #444444;
}

.thumb-container {
  background: #121212;
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.thumb-wrapper {
  width:100%;
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  vertical-align: middle;
  display:block;
}

.thumb-wrapper img {
  width:100%;
}

.thumb-label {
  position:absolute;
  right:0;
  bottom:0;
  padding:2px 8px;
  background:rgba(0,0,0,0.6);
  color:#ffffff;
  font-weight:bold;
  font-size:12px;
}

.play-button {
  position:absolute;
  display:block;
  width:100%;
  top: 53%;
  transform: translateY(-50%);
  text-align: center;
}

.play-button img {
  width: 30%;
}

.featured.container-fluid {
  padding:0;
}

.featured .row {
  margin:0;
}
.featured-col-1 {
  width: 14.28%
}
.featured-col-2 {
  width: 28.57%;
}

.featured-block {
  padding:0;
}

.featured img {
  width:100%;
}

.featured .badge-container {
  position: absolute;
  top: 8px;
  left: 8px;
}

.featured-col-2 .badge {
  font-size:24px;
}

.featured .badge-hot {
  background:#801010;
  color: white;
}

.featured .badge-new {
  background:#104C80;
  color: white;
}

.featured .thumb-footer {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  width:100%;
  padding:8px;
  display:none;
}

.featured .thumb-footer .title {
  font-size:14px;
  color: #eaeaea;
  font-weight: bold;
}

.featured .thumb-footer .meta {
  font-size:12px;
  color: #cacaca;
}

.featured .thumb-container:hover .thumb-footer {
  display:block;
}

/* Topics */

.topics .row {
  margin-bottom:20px;
}
.topics .card {
  margin-bottom:20px;
  background: #343a40;
}

.topics .card a {
  color: white;
  display:block;
  text-align:center;
}
