<%page args="ids,video_data"/>
<div class="container-fluid featured">
<div class="row">
  <%include 
      file="_featured_big_col.html" 
      args="video=video_data[ids[0]],badge=True" />
  <%include 
      file="_featured_col.html" 
      args="video1=video_data[ids[1]],video2=video_data[ids[2]],badge=True" />
  <%include 
      file="_featured_col.html" 
      args="video1=video_data[ids[3]],video2=video_data[ids[4]],badge=True" />
  <%include 
      file="_featured_big_col.html" 
      args="video=video_data[ids[5]]" />
  <%include 
      file="_featured_col.html" 
      args="video1=video_data[ids[6]],video2=video_data[ids[7]]" />
</div>
</div>

