<%page args="group,video_data,link_to_group=False,show_group_title=True" />
<%
from lib import util
from lib.mako_util import wrap_lang
group_page_url = wrap_lang(context, util.week_page_path(group))
%>
<div class="row">
% if link_to_group:
  <h3><a href="${group_page_url}">${group.title}</a></h3>
% elif show_group_title:
  <h3>${group.title}</h3>
% endif
</div>
% if debug:
<div class="row">
<textarea style="width:600px; height:200px; display:block;">
% for id in group.ids:
${id} // ${video_data[id].title}
% endfor
</textarea>
</div>
% endif
<div class="row">
% for id in group.ids:
  <%include file="_standard_video.html" args="obj=video_data[id]" />
% endfor
</div>
