<%page args="group,video_data,link_to_group=False,show_group_title=True,link_to_week=True,link_to_day=False,small_header=False" />
<%
from lib import util
from lib.mako_util import wrap_lang

if link_to_week:
    group_page_url = wrap_lang(context, util.week_page_path(group))
elif link_to_day:
    group_page_url = wrap_lang(context, util.day_page_path(group))
%>
<div class="row">
<div class="col-12 vid-col">
% if link_to_group:
  <h3><a href="${group_page_url}">${group.title}</a></h3>
% elif show_group_title:
  % if small_header:
  <h4>${group.title}</h4>
  % else:
  <h3>${group.title}</h3>
  % endif
% endif
</div>
</div>
<div class="row">
% for id in group.ids:
  <%include file="_standard_video.html" args="obj=video_data[id]" />
% endfor
</div>
