<%
from lib.mako_util import wrap, wrap_lang, all_languages
site = context.get('site')
current_lang = site.lang
%>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="${wrap_lang(context, 'index.html')}">Spark AR TV</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="${wrap_lang(context, 'index.html')}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap_lang(context, 'channels.html')}">Channels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/topics/')}">Topics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/facebook.html')}">Facebook</a>
      </li>
    </ul>
    <ul class="navbar-nav float-right">
			% for lang in all_languages(context):
      <% cls = "active" if lang[0] == current_lang else "" %>
      <li class="nav-item">
        <a class="nav-link ${cls}" href="${wrap(context, lang[0])}">${lang[1]}</a>
      </li>
			% endfor
      <li class="nav-item">
        <a class="nav-link" href="https://forum.sparkar.wiki/d/94-spark-ar-tv-unofficial-video-tutorial-collections">Suggest content</a>
      </li>
    </ul>
</nav>
