<%
from lib.mako_util import wrap, wrap_lang, all_languages, asset
site = context.get('site')
logo = asset(context, 'logo-white.png')
%>
<nav class="navbar navbar-expand-sm navbar-dark">
  <button class="navbar-brand btn btn-dark" id="sidebar-toggle">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="${wrap(context, 'global/index.html')}"><img src="${logo}" class="logo" alt="Spark AR TV" /></a>

  <div class="collapse navbar-collapse" id="top-navbar">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/index.html')}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/channels.html')}">Channels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/facebook.html')}">Spark AR official videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/search.html')}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${wrap(context, 'global/sitemap.html')}">Sitemap</a>
      </li>
    </ul>
  </div>
</nav>
