<div class="vid-col col-xl-2 col-lg-3 col-sm-4">
  <div class="vid">
    <div class="thumb-container">
      <div class="thumb-wrapper">
        <a href="${url}" target="_blank">
          <img src="${img}">
          <span class="play-button">
            <img src="assets/youtube-play5.png" />
          </span>
        </a>
      </div>
      <span class="thumb-label">${duration}</span>
    </div>
    <div class="title">
      <a href="${url}">${title}</a>
    </div>
    <div class="meta">
      <a href="${channel_url}">${channel}</a>
      &bull;
      ${published_at}
    </div>
  </div>
</div>
