<%page args="obj,large_thumb=True,use_yt_channel_url=False" />
<%
from lib.mako_util import asset
from lib import util
import html

play_icon = asset(context, 'youtube-play5.png')
if large_thumb:
    cls = "vid-col col-xl-3 col-lg-3 col-sm-4"
    thumbnail_url = obj.highres_thumbnail_url
else:
    cls = "vid-col col-xl-2 col-lg-3 col-sm-4"
    thumbnail_url = obj.thumbnail_url

if use_yt_channel_url:
    channel_url = obj.channel_url
else:
    channel_url = util.channel_page_url(site, obj.channel_id)
title = html.escape(obj.title, quote=True)
channel_title= html.escape(obj.channel_title, quote=True)
%>
<div class="video-item ${cls}"
    data-video-url="${obj.video_url}"
    data-thumbnail-url="${thumbnail_url}"
    data-title="${title}"
    data-channel-url="${channel_url}"
    data-channel-title="${channel_title}"
    data-duration="${obj.duration}"
    data-published-at="${obj.published_at}"
></div>
