<%page args="obj,large_thumb=False" />
<%
from lib.mako_util import asset
play_icon = asset(context, 'youtube-play5.png')
if large_thumb:
    cls = "vid-col col-xl-3 col-lg-3 col-sm-4"
    thumbnail_url = obj.highres_thumbnail_url
else:
    cls = "vid-col col-xl-2 col-lg-3 col-sm-4"
    thumbnail_url = obj.thumbnail_url
%>
<div class="${cls}">
  <div class="vid">
    <div class="thumb-container">
      <div class="thumb-wrapper">
        <a href="${obj.video_url}" target="_blank">
          <img data-src="${thumbnail_url}">
          <span class="play-button">
            <img src="${play_icon}" />
          </span>
        </a>
      </div>
      <span class="thumb-label">${obj.duration}</span>
    </div>
    <div class="title">
      <a href="${obj.video_url}">${obj.title}</a>
    </div>
    <div class="meta">
      <a href="${obj.channel_url}">${obj.channel_title}</a>
      &bull;
      ${obj.published_at}
    </div>
  </div>
</div>
