<%
from lib.mako_util import asset
config = context.get('config')
site = context.get('site')
page = context.get('page')
enable_ga = site.site_config.enable_ga

og_image = page.og_image
style_css = asset(context, 'style.css')
script_js = asset(context, 'script.js')
play_icon_url = asset(context, 'youtube-play5.png')
title = page.title
description = page.description
%>
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="${title}"/>
    <meta property="og:description" content="${description}"/>
    <meta property="og:image" content="${og_image}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="${style_css}">
% if enable_ga:

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-39524040-2"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-39524040-2');
    </script>

% endif

    <title>${title}</title>

  </head>
  <body>
 
  <%include file="_nav.html" />

<div class="content d-flex" id="wrapper">
<div class="sidebar-wrapper">
  <div class="sidebar" id="sidebar">
  </div>
</div>
<div class="container-fluid">
${next.body()}
</div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script type="text/javascript" src="${script_js}"></script>
<%block name="extra_include_scripts">
</%block>


    <script>

$(document).ready(function(){
  const CONFIG = {
      nav_json_url:'${nav_json_url}',
      play_icon_url: '${play_icon_url}',
      search_data_json_url: '${search_data_json_url}'
  };
  initPage(CONFIG);
<%block name="extra_scripts">
</%block>

});
    </script>

  </body>
</html>

