<%inherit file="base.html" />

<%
show_day = not full and site.show_day
DAYS_TO_SHOW = 5
GROUPS_TO_SHOW = 0

if not show_day:
    GROUPS_TO_SHOW = 5
    groups = []
else:
    groups = site.groups_by_day[:DAYS_TO_SHOW]
%>
<%include file="_groups.html" args="site=site,groups=groups,link_to_day=True,link_to_week=False" />

% if show_day and GROUPS_TO_SHOW > 0:
<h1>By week</h1>
%endif

<%
num_videos = len(site.video_data)
has_more = False
if num_videos > 30:
    if full:
        groups = site.groups_by_week
    else:
        groups = site.groups_by_week[:GROUPS_TO_SHOW]
        has_more = len(site.groups_by_week) > GROUPS_TO_SHOW
else:
    groups = [site.videos_by_time]
endif

%>
<%include file="_groups.html" args="site=site,groups=groups,link_to_day=False,link_to_week=True" />


% if not full and has_more:
<p class="text-center">
<a href="full-list.html">More videos</a>
</p>
%endif
